
.Theory main {
  display: flex;
  flex-direction: column;
  color: #CECECE;
} 
.Theory h1 {
  font-size:48px;
  color: #CECECE;
  margin-top: 0;
  text-align: left;
  margin-left: 25%;
}
.Theory h2 {
  font-size:36px;
  color: #CECECE;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 25%;
}
.Theory h3 {
  font-size:36px;
  color: #CECECE;
  text-align: left;
  margin-left: 25%;
}
.Theory p {
  font-size: 24px;
  text-align: left;
  color:#CECECE;
  margin: auto;
  width: 55%;
  margin-left: 25%;
}


.Theory pre {
  font-size: 24px;
  text-align: left;
  margin: auto;
  width: 55%;
  color: #CECECE;
  margin-left: 25%;
}
.Theory pre{
  background: #1B2432;
}

