.no-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scroll-bar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
  .sidebar {
    width: 15vh;

    height: 100vh;
    position: fixed;
    right: 78%;
    top: 8%;
    
    background-color: #f1f1f1;
    overflow-y: auto;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    padding: 10px;
    border-bottom: 0% solid #ddd;
    border-bottom: 1px solid #ddd;
    color: white;
  }
  
  li:last-child {
    border-bottom: none;
  }
  .custom-bg-color {
    background-color: rgb(27, 25, 25);
  }
 
  .my-link {
    color: rgb(229, 74, 169);
  }
  
  .white-text {
    color: white;
  }
  