.no-scroll-bar::-webkit-scrollbar {
  display: none;
}
 
  .sidebar {
    width: 10vw;
    height: 100%;
    position: fixed;
    right: 78%;
    top: 7%;
    background-color:  #1B2432;
    overflow-y: auto;
  }


  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 0.5em;
  }


.bg-custom-color{
   background-color: #1B2432;
  }
.my-link{
  color: rgb(175, 19, 107);
}