.no-scroll-bar::-webkit-scrollbar {
  display: none;
  margin-bottom: 100%; 
}
 
/* Hide scrollbar for IE, Edge and Firefox */
.no-scroll-bar {
  -ms-overflow-style: none; 
  margin-bottom: 20%; 

}
  .sidebar {
    width: 15vh;
    height: 100vh;
    position: fixed;
    left: 13%;
    top: 8%;
    background-color:  #1B2432;
    overflow-y: auto;
    padding: 0.5em;
    
  }

  .content {
    flex: 1;
    padding: 2em;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 50%;
  }

  li {
    padding: 0.5em;
    border-bottom: 0% solid #ddd;
  }

  li:last-child {
    border-bottom: none;
  }
.bg-custom-color{
   background-color: #1B2432;
  }
.my-link{
  color: rgb(175, 19, 107);
} 

.Title{
  color: white;
}