.sidenav {
    display: flex;
    flex-direction: column;
    width: 13%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #141B26;
    overflow: hidden;
    padding-top: 20px;
    text-overflow: ellipsis;
    line-height: 1.2em;
}



.sidenav a {
    display: flex;
    align-items: center;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1.6vw;
    color: #CECECE;
    margin-top: 10%;
    text-align: left;
    text-overflow: ellipsis;
    line-height: 2em;
}

.nav-Image {
    background: #14161B;
}

.sidebar-Item {
    background: #1B2432;
    transition: all 0.3s ease 0s;
    overflow: hidden;
    min-height: 5vh;
    width: 95%;
    height: 5vh;
}

.sidebar-Item:hover {
    background: #1B2432;
    transform: scale(1.1);
}

.sidenav a svg {
    margin-right: 10px;
}

.sidenav a:hover {
    color: rgb(45, 203, 108);
}


.sidenav img {
    display: block;
    margin: 20px;
    margin-bottom: 40%;
    width: 80%;
    padding: 20px;
}

/*
.sidenav.dark {
    background-color: #333;
    color: #fff;
    border-right-color: #555;
}
*/
