@import url("https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;500;600;700;800&display=swap");


.quiz-container {
  width: 100%;
  background: #1b2432;
  border-radius: 4px;
  margin-top: 10px;
  padding: 30px 60px;
  color: #ceceec;
}

.quiz-container .active-question-no {
  font-size: 32px;
  font-weight: 500;
  color: #d63384;
}

.quiz-container .total-question {
  font-size: 16px;
  font-weight: 500;
  color: #cecece;
}

.quiz-container h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  color: #cecece;
}

.quiz-container ul {
  margin-top: 10%;
  align-content: center;
}

.quiz-container ul li {
  text-decoration: none;
  list-style: none;
  color: #cecece;
  font-size: 16px;
  background: #14161B;
  border-radius: 0.5em;
  padding: 11px;
  margin-top: 15px;
  cursor: pointer;
}

.quiz-container ul .selected-answer {
  background: #d63384;
}

.quiz-container button {
  background: linear-gradient(
    90.04deg,
    rgb(55, 57, 81) 0.03%,
    rgb(55, 57, 81) 99.96%
  );
  border-radius: 9px;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 42px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 10%;
}

.quiz-container button:disabled {
  background: #14161B;
  color: #cecece;
  cursor: not-allowed;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.result h1 {
  color: #cecece;
  font-weight: bold;
}

.result h3 {
  font-size: 24px;
  letter-spacing: 1.4px;
  text-align: center;
}

.result-totalScoreText {
  font-size: 25px;
  color: #cecece;
}

.result-scoreNbr {
  color: #24a658;
  font-size: 30px;
  font-weight: bold;
}

.result-totalQuestionNbr {
  font-size: 20px;
}

.result p {
  font-size: 16px;
  font-weight: 500;
  color: #cecece;
}

.result p span {
  color: #24a658;
  font-size: 22px;
  font-weight: bold;
}

span.failed-text {
  color: #d63384 !important;
}
