
.WelcomePage header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #141B26;
  }
  .WelcomePage {
    height: 100vh;
    margin-top: 0;
    background-image: linear-gradient(to bottom, transparent 0%, #141B26 50%, #000 100%);
  }

  .logo {
    height: 150px;
    margin-top: 5%;
    margin-left: 5%;

  }

  .comp {
    width: 50%;
    height: 50%;
    position: absolute;
    right: -3%;
    top: 29%;
    transition: all 0.3s ease 0s;
  }
  .comp:hover {
    transform: scale(1.1);
  }

  .WelcomePage main {
    display: flex;
    flex-direction: column;
    padding: 20px;

  }

  .WelcomePage h1 {
    font-size: 600%;
    color: #d63384;
    margin-bottom: 2%;
    margin-top: 5%;
    font-family: 'Lora';
    position: relative;
    left: 5%;
    width: 48%;
  }

  .WelcomePage h2 {
    font-size: 300%;
    color: #d63384;
    margin-bottom: 2%;
    font-family: 'Lora';
    position: relative;
    left: 5%;
    width: 48%;

  }

  .WelcomePage p {
    font-size: 150%;
    text-align: left;
    margin-bottom: 20px;
    width: 55%;
    font-family: 'Lora';
    color:  #CECECE;;
    position: relative;
    left: 5%;
    width: 48%;
  }

  .WelcomePage .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Lora';
  }

  .WelcomePage button {
    font-size: 1.5vw;
    width: 8vw;
    height: 2.5em;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

  }

  .WelcomePage button:hover {
    transform: scale(1.1);
  }

  .WelcomePage .login {
    background-color: #2DCB6C;
    color: black;
    border: none;
    right: 12%;
    top: 1%;
    position: absolute;
  }
.WelcomePage .login:hover {
  background-color: #b9dec8;
}

  .WelcomePage .signup {
    background-color: #d63384;
    color: black;
    border: none;
    right: 2%;
    top: 1%;
    position: absolute;
  }
.WelcomePage .signup:hover {
  background-color: #e897be;
  color: black;
  border: none;
}

  