.Aboutus {
    margin-left: 0%;
    font-family: 'Lora';
  }
  
  .Aboutus header {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  
  .Aboutus main {
    margin-top: 10%;
    margin-left: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
  }
  
  .Aboutus h1 {
    font-size: 30px;
    color: #CECECE;
    margin-right: 0%;
    font-weight: bold;
    font-family: "Lora";
    width: 100%;
    margin-bottom: 2%;
  }
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .mail-container {
    text-align: center;
    margin-top: 10%;
    margin-right: 0%;
  }
  
  .mail {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto;
  }
  
  .mail-text {
    margin-top: 10px;
  }
  
  
  
  
  .Aboutus p {
    font-size: 18px;
    text-align: left;
    margin-bottom: 20px;
    width: 100%;
    font-weight: semibold;
    font-family: "Lora";
    
  }
  
  .Aboutus .buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .Aboutus button {
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
  }
  
  .Aboutus .logout {
    background-color:#004e64;
    color: rgb(255, 255, 255);
    border: none;
  }