

.Aboutus {
  margin-left: 15%;
  font-family: 'Lora';
}

.Aboutus header {
  display: flex;
  align-items: center;
  padding: 20px;
}


.Aboutus main {
  margin-top: 10%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 70%;
}

.Aboutus h1 {
  font-size: 30px;
  color: #CECECE;
  margin-right: 5%;
  font-weight: bold;
  font-family: "Lora";
  width: 55%;
  margin-bottom: 2%;
}
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.mail-container {
  text-align: center;
  margin-top: 10%;
  margin-right: 35%;
}

.mail {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  color: #CECECE;
}

.mail-text {
  margin-top: 10px;
}




.Aboutus p {
  font-size: 18px;
  text-align: left;
  margin-bottom: 20px;
  width: 80%;
  font-weight: semibold;
  font-family: "Lora";
  color: #CECECE;
  
}
/*
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  right: 15%;
  top: 10%;
}

.buttons {
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
} */

/*
.logout {
  background-color:#004e64;
  color: rgb(255, 255, 255);
  border: none;
} */