body{
    font-family: 'Lora';
    background-color: #14161b;

}

.profile-container {
    margin-top: 30%;
    display: block;
    width: 1000px;
    height: 300px;
    background-color: #1b2432;
    margin-left: 300px;
    margin-top: 60px;
    border-radius: 15px;
    font-family: 'Lora';

    
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
}

.edit-button {
    width: 130px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    color: #CECECE;
    background-color: rgb(219, 219, 219);
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    float: right;
    margin-right: 40px;
    margin-top: 30px;
    font-family: 'Lora';
}

.profile-firstlastname {
    font-size: 50px;
    padding-top: 80px;
    align-self: center;
    margin-top: -300px;
    margin-left: 50px;
    font-weight: bold;
    color: white;

}

.profile-mail {
    margin-left: -80px;
    font-weight: bold;
    color: white;
}

.level-container {
    display: block;
    width: 200px;
    height: 300px;
    /*background-color: blue;*/
    /*position: relative;*/
    margin-left: 100px;
    margin-top: 60px;
    border-radius: 15px;
    font-family: 'Lora';
}

.levelText {
    position: absolute;
    font-size: 15px;
    padding-top: 30px;
    margin-top: 70px;
    margin-left: 76px;
    color: white;
    
}

.levelNumber {
    position: absolute;
    font-size: 75px;
    color: white;
    margin-top: 100px;
    margin-left: 65px;
}

.profile-level-star {
    width: 200px;
    height: 240px;
    /*margin: auto;*/
    padding-top: 40px;
}

.delete-account-button {
    width: 180px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    color: black;
    background-color: rgb(247, 69, 69);
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    
    margin-left: 155px;
    margin-top: 30px;
    margin-bottom: 30px;
   
}

.edit-profile-container {
    width: 800px;
    height: 500px;
    margin-top: 40px;
    margin-left: 400px;
    border-radius: 15px;
    background-color: #1b2432;
    display: flex;
    flex-direction: column;
}

.profile-heading {
    font-size: 25px;
    float: left;
    margin-top: 30px;
    margin-left: 30px;
    font-weight: bold;
    color: #CECECE;
}

.profile-label {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    margin-top: 10px;
    color: #CECECE;
    
  }
    
.profile-label-text {
    width: 400px;
    margin-left: 75px;
    margin-right: 10px;
    margin-top: 7px;
    font-weight: bold;
}
    
.inputSquare {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    width: 100%;
    max-width: 1000px;
    margin-right: 100px;
    margin-left: 5px;
}
  

.saveButton {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    width: 120px;
    height: 40px;
    max-width: 400px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    margin-top: 20px;
}

.saveButton:hover {
    background-color: #61a7f3;
}
  
