.Theory header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

  }

  .logo {
    height: 150px;

  }

  .Theory main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

  }

  .Theory h1 {
    font-size:48px;
    color: rgba(0, 0, 0);
    margin-top: 0;
    font-family:"Lora";
    text-align: center;


  }
  .Theory h2 {
    font-size:36px;
    color: rgba(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 10px;
    font-family:"Lora";
    text-align: center;

  }
  .Theory h3 {
    font-size:36px;
    color: rgba(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 10px;
    font-family:"Lora";
    text-align: center;

  }
  .Theory p {
    font-size: 24px;
    text-align: center;
    color: rgba(0, 0, 0);
    margin: auto;
    width: 55%;
    font-family:"Lora";
  }
 

  .Theory pre {
    font-size: 24px;
    text-align: center;
    color: rgba(0, 0, 0);
    margin: auto;
    width: 55%;
    font-family:"Lora";
  }