
body {
  --background-color: #ffffff;
  --text-color: #000000;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}

body.dark {
  --background-color: #222222;
  --text-color: #ffffff;
}

.App {
  text-align: center;
  background: #141B26;
  font: 20px/1.6 Lora;

;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


