.Pinned-container{
    background-color: #1B2432;
    justify-content: center;
    right: 2vw;
    bottom:10vw;
    top: calc(2/3 * 100%);
    position: fixed;
    padding-top: 10px;
    width: 10%;
    height: fit-content;
}

.Pinned-title{
    display: inline-block;
    border-bottom: 7px solid #141B26;
    color: #CECECE;
    font-size: 2vw;

}

.Pinned-list{
    color: #CECECE;
    text-align: left;
    margin: 1%;
    font-size: 1.5vw;
}

.x-button {
    width: 1.5vw;
    height: 1.5vw;
    margin-left: 0.5rem;
    display: inline-block;
    text-align: left;
  }
